#landing {
	/*opacity: .60;*/

	/*transparent background-color*/
	background-color: rgba(0,0,0,.60);
}

body {
	/*background image property allow us to add a background image from an online source or a local/relative source*/
	background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	/*stretches the image to cover the full area of the element*/
	background-color: cover;
	/*background-repeat:  no repeat to disable the image to repeat especially if it cannot cover the element*/
	background-repeat: no-repeat;
	/*background-position:  center to center the background image*/
	background-position: center;
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}